AAPI_KEY=""
HEYGEN_LIVEAVATAR_API = "" # Your HeyGen LiveAvatar API key
GOOGLE_APPLICATION_CREDENTIALS = "/app/digital-coach-firebase-adminsdk.json" # The filepath to your firebase admin sdk service account file (don't change this)
LM_BASE_URL = "http://host.docker.internal:12434/engines/llama.cpp/v1/" # base URL to make requests to an OpenAI-compliant API
MODEL="ai/qwen3:4B-UD-Q4_K_XL" # LLM we're using (you can find other models on Docker Hub) Note: when choosing a model be aware of your hardware constraints, the more parameters an LLM has the more RAM/VRAM it needs
LM_API_KEY="" # An API key is required to make requests to OpenAI-compliant APIs via OpenAI library but since our LLM is hosted locally, this API key can be whatever 
REDIS_URL="" # URL to a Redis server (this would be if we were using a cloud provider like Heroku)
REDIS_HOST = "redis" # the redis host would be the name of the redis service defined in our Docker Compose which is just 'redis'
REDIS_PORT = "6379" # port number of the Redis server
REDIS_PASSWORD = "" # password to access redis server (leave empty unless you have redis configured to use a password)