AAPI_KEY=""
HEYGEN_LIVEAVATAR_API = "" # Your HeyGen LiveAvatar API key
GOOGLE_APPLICATION_CREDENTIALS = "mlapi\digital-coach-firebase-adminsdk.json" # The filepath to your firebase admin sdk service account file (don't change this)