NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=""
NEXT_PUBLIC_USE_FIREBASE_EMULATOR="true" # toggle this to switch between using Firebase emulators and the actual Firebase services
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="" # Cloudinary Cloud name
NEXT_PUBLIC_CLOUDINARY_API_KEY="" # Cloudinary API key
NEXT_PUBLIC_UPLOAD_PRESET="ml_default" # Cloudinary upload preset